@media screen and (max-width:992px) {
    form, .form-cont, .img{
        width: 50%;
    }
    .grayBackground{
        top: -350px;
    }
    .rightStripe{
        width: 50%;
        height: 60px;
        top: 50px;
        left: calc(50% + 100px);
    }
    .leftStripe{
        top: 307px;
        width: 28%;
        left: calc(-48% + 460px);

    }
    .mobileStripe{
        top: 30px;
        left: 63%;
        height: 50px;
        width: 20%;
    }
    .recovery-form-cont{
        margin-left: -10%;
    }
}
@media screen and (max-width:988px){
    .leftStripe{
        top: 295px;
        width: 35%;
        left: calc(-48% + 460px);
    }
}
@media screen and (max-width:968px){
    .leftStripe{
        top: 305px;
        width: 40%;
        left: calc(-55% + 460px);
    }

}
@media screen and (max-width:959px){
    .grayBackground{
        top: -370px;
    }
    .leftStripe{
        top: 280px;
        left: calc(-55% + 460px);
    }

}

@media screen and (max-width:931px){
    .leftStripe{
        top: 275px;
        left: calc(-55% + 460px);
        height: 35px;
    }
    #fullname input{
        width:35% ;
    } 
    #dob input, #tax input{
        width: 30%;
    }
}
@media screen and (max-width:904px){
    .mobileStripe{
        left: 70%;
    }
    .leftStripe{
        top: 270px;
        left: calc(-55% + 460px);
    }
}
@media screen and (max-width:875px) {
    .recovery-form-cont{
        margin-left: -20%;
    }
}
@media screen and (max-width:885px){
    .leftStripe{
        top: 265px;
        left: calc(-55% + 460px);
    }
}
@media screen and (max-width:853px){
    .leftStripe{
        top: 275px;
        left: calc(-65% + 460px);
    }
}
@media screen and (max-width:817px){
    .leftStripe{
        top: 270px;

    }
}
@media screen and (max-width:875px) {
    form, .form-cont, .img{
        width: 60%;
    }
}
@media screen and (max-width:792px){
    .leftStripe{
        top: 265px;
        height: 40px;
    }
    .form-cont{
        background-color: #fff;
        margin-top: -2px;
    }
    #last-login input{
        width: 40%;
    }
    #atm input{
        width: 45%;
    }
}
@media screen and (max-width:760px){
    .leftStripe{
        top: 260px;

    }
}
@media screen and (max-width:739px){
    .leftStripe{
        top: 255px;

    }
    #last-login input{
        width: 45%;
    }
    #atm input{
        width: 50%;
    }
    #fullname input{
        width:40% ;
    } 
    #dob input, #tax input{
        width: 35%;
    }
}
@media screen and (max-width:767px) {
    form, .form-cont, .img{
        width: 60%;
    }
    #first-txt,
    #email,
    #password,
    #stay,
    #bottom{
        width: 90%;
    }
}
@media screen and (max-width:718px) {
    .recovery-form-cont{
        width: 60%;
        margin-left: 0  ;
    }
}
@media screen and (max-width:716px){
    .leftStripe{
        top: 250px;
        left: calc(-70% + 460px);
    }
}
@media screen and (max-width:658px){
    .leftStripe{
        top: 250px;
        left: calc(-80% + 460px);
    }
    #last-login input{
        width: 50%;
    }
    #atm input{
        width: 55%;
    }
    #fullname input{
        width:45% ;
    } 
    #dob input, #tax input{
        width: 40%;
    }
}
@media screen and (max-width:599px){
    .leftStripe{
        left: calc(-90% + 460px);
    }
}
@media screen and (max-width:591px) {
    form, .form-cont, .img{
        width: 70%;
    }
    .recovery-form-cont{
        margin-left: 0%;
        width: 70%;
    }
}
@media screen and (max-width:546px){
    .leftStripe{
        left: calc(-90% + 460px);
        top: 240px;
    }
    .mobileStripe{
        left: 75%;
    }
}
@media screen and (max-width:513px){
    .leftStripe{
        left: calc(-100% + 460px);
        top: 240px;
    }
    .mobileStripe{
        left: 65%;
        width: 40%;
        top: 15px;
    }
    .rightStripe{
        width: 50%;
        height: 60px;
        top: 60px;
        left: calc(35% + 100px);
    }
}
@media screen and (max-width:485px) {
    form, .form-cont, .img{
        width: 80%;
    }
    #last-login input{
        width: 55%;
    }
    #atm input{
        width: 60%;
    }
    #ba input, #ba #select1, #ba #select2{
        width: 65%;
    }
    .recovery-form-cont{
        width: 80%;
        margin-left: 0;
    }
    #des1{
        font-size: 13px;
        line-height: 1.2;
    }
}
@media screen and (max-width:469px){
    .leftStripe{
        top: 230px;
        left: calc(-110% + 460px);
    }
    #last-login input{
        width: 58%;
    }
    #atm input{
        width: 63%;
    }
    #ba input, #ba #select1, #ba #select2{
        width: 68%;
    }
    #fullname input{
        width:50% ;
    } 
    #dob input, #tax input{
        width: 45%;
    }
}
@media screen and (max-width:415px) {
    form, .form-cont, .img{
        width: 90%;
    }
    .leftStripe{
        top: 230px;
        left: calc(-120% + 460px);
    }
    .recovery-form-cont{
        width: 90%;
        margin-left: 0;
    }
}
@media screen and (max-width:385px){
    .leftStripe{
        top: 230px;
        left: calc(-130% + 460px);
    }
    .mobileStripe{
        width: 35%;
        left: 80%;
    }
}
@media screen and (max-width:354px){
    .leftStripe{
        top: 230px;
        left: calc(-140% + 460px);
    }
    #last-login input{
        width: 63%;
    }
    #atm input{
        width: 68%;
    }
    #ba input, #ba #select1, #ba #select2{
        width: 73%;
    }
}
@media screen and (max-width:342px) {
    #txt2 span{
        margin-inline: 1%;
    }
    #fullname input{
        width:55% ;
    } 
    #dob input, #tax input{
        width: 50%;
    }
}
@media screen and (max-width:329px){
    .leftStripe{
        top: 220px;
        left: calc(-145% + 460px);
    }
}

